services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - APP_BASE_URL=http://localhost:3000
      - RAINDROP_CLIENT_ID=
      - RAINDROP_CLIENT_SECRET=
